<?php
// vcdeploy configuration

// email for notification
$conf['email_to'] = 'your@email.de';

// parent directory of projects
$conf['www_path'] = '/var/www';

// scm type: git, svn or static
$conf['source_scm'] = 'static';

// scm directory with system repository (git, svn or static)
// (if you want to use more then one, use an array - last element will be deployed last).
// This is usefull if you want to store senible data in an extra repository)
$conf['system_source'] = '/mnt/hgfs/myrepo/sysconfig/local';

// list of all services, which are supported
$conf['services'] = 'apache2 mysql';

// Enable services with system deploy.
// All other supported services will be disabled!
$conf['services_enable'] = 'apache2 mysql';

// Restart services with system deploy
$conf['services_restart'] = 'nginx';

$conf['pre_commands'][] = 'echo "command runs before services_restart"';
$conf['post_commands'][] = 'echo "command runs after services_restart"';

// nginx sites (config files), which are supported
#$conf['nginx_sites'] = 'vhost1.conf vhost2.conf';

// nginx sites (config files) to enable. All other supported sites will be disabled!
#$conf['nginx_sites_enable'] = 'vhost1.conf vhost2.conf';

// apache modules, which are supported
$conf['apache_mods'] = 'status rewrite info headers cgi cgid expires dav_fs dav env';

// apache modules to enable
// All other supported modules will be disabled!
$conf['apache_mods_enable'] = 'status rewrite info headers expires';

// apache sites (config files), which are supported
#$conf['apache_sites'] = 'vhost1.conf vhost2.conf';

// apache sites (config files) to enable.
// All other supported sites will be disabled!
#$conf['apache_sites_enable'] = 'vhost1.conf vhost2.conf';

// We don't want auto backups in local dev environment
$conf['without_backup'] = TRUE;

// backup directory (used by reset-db)
$conf['backup_dir'] = '/srv/backups';

// required for log
$conf['package_manager'] = 'apt';
$conf['log_host'] = 'yourdomain.de';

// create hash files
$conf['create_hashfiles'] = TRUE;

// Create directories
$conf['dirs'][] = '/srv/backups';
$conf['dirs'][] = '/srv/software';

// Create symbolic links
// key = target of symlink
// value = source file or directory 
$conf['symlinks']['/usr/lib/perl5/Apache/Redmine.pm'] = '/srv/redmine-dev/extra/svn/Redmine.pm';

// System packages, which are required. (runs with rollout-system)
$conf['packages_depends'] = 'git-core htop curl';
