Source: http://www.github.com/alexandermeindl/vcdeploy
Package: vcdeploy
Version: 0.53-0
Section: php
Priority: Optional
Architecture: all
Depends: php5-cli, php5-curl, drush
Installed-Size: 9
Maintainer: Alexander Meindl <a.meindl@alphanodes.com>
Homepage: alphanodes.com
Description: Version control deploy
